<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Gratuity.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>731375651ABF3D910074E2F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>733D02A51BBA4C2D00E40EC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73450E771ABF2926005927F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73467BA21ABA0127006C3DFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>736568D91A26DD1400603602</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7382510019E60EED00CD2B28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7382511519E60EED00CD2B28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73A18D571A2A9525002180DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73A18D691A2A9525002180DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73C7B4931A2A92E400536D86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
